.app {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.calculator {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: gainsboro;
  border-radius: 1rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 300px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.output-value {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calc-button {
  width: 69px;
  height: 69px;
  border: none;
  border-radius: 0.2rem;
  font-size: 2rem;
  color: midnightblue;
  padding: 1rem;
  cursor: pointer;
  transition: 0.1s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.calc-button:active {
  transform: translateY(1px);
}

.number {
  background-color: ghostwhite;
}

.operator {
  background-color: lavender;
}

.clear-operator {
  background-color: darksalmon;
}

.equals-operator {
  background-color: darkseagreen;
  grid-column: 2 / span 3;
  width: auto;
}
